# Python
__pycache__/
*.pyc
venv/
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# ngrok
*.ngrok*

# IDE
.vscode/
.idea/

# Frontend
templates/

# Img
image-1.png
image-2.png
image.png